---
---
@charset "utf-8";

@import "normalize";
@import "box-sizing";
@import "clearfix";

img, embed, object, video {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  background: url("/landing/assets/background.png");
  background-color: #06D9F1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  animation-name: animatedBackground;
  animation-duration: 120s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
  
  .logo {
    opacity: 0.3;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: center 0;
  }
  100% {
    background-position: center 100%;
  }
}